@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

body {
    margin: 0px; /*definir margem da pagina */
    font-family: 'Alkatra', sans-serif;
}
ul {
    list-style: none; /*retira os marcadores da lista */
    font-weight: bold;  /*deixa a palavra em negritos */
}

a{
    text-decoration: none;
    color: inherit;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #1d61dd;
    color: white;
}

header {
    background: no-repeat center/cover url("Assets/Mount_Targon_Once_In_A_Lifetime.webp");
    height: calc(100vh - 100px);
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 90px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 15px;
    color: #ecd9d9;
}

header nav p {
    font-weight: bold;
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
    color: #e2d983;
}


.image {
    display: flex;
    justify-content: center;
}